body{
    margin: 0;
    padding: 0;
    background-color: black;
    height: 2000px;
}
::selection{
    background-color: cadetblue;
    color: wheat;
}

body::before{
    content: '';
    position: absolute;
    background :url('./mn.jpg')  no-repeat ;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .5;
}
.navbar{
    display: flex;
    justify-content: flex-end;

}
.navbar ul{
    display: flex;
    /* justify-content: space-evenly; */
    list-style: none;
}
.navbar ul li{
    margin-left: 2em;
}